<div class="row">
	<div class="col-xs-6">
		<h1> Product Details</h1>
		<div class="col-xs-4">
			<img class="prodcut_image" src="images/{{order.product.color}}.png"></img>
		</div>
		<h4>Color: {{order.product.color}}</h4>
		<h4>Size: {{order.product.size}}</h4>
		<h4>Quantity: {{order.product.quantity}}</h4>
	</div>
	<div class="col-xs-6">
		<h1> Shipping Details</h1>
		<h4>{{order.addressone}}</h4>
		<h4>{{order.addresstwo}}</h4>
		<h4>{{order.city}}</h4>
		<h4>{{order.state}}</h4>
		<h4>{{order.zipcode}}</h4>
	</div>
</div>