<div class="row">
			<h1>Product details</h1>
			<div class="col-xs-4"><img class="prodcut_image" src="images/{{color}}.png" style="width:100%"></img></div>
			<div class="col-xs-8">
				<div class="row">					
				  <div class="form-group">
				  	  <p>select a color</p>	
					  <label class="radio-inline color">
					    <input type="radio" name="color" id="blue" value="blue" {{#if_eq color "blue"}}checked{{else}}{{/if_eq}} >
					    Blue
					  </label>
					  <label class="radio-inline color">
					    <input type="radio" name="color" id="green" value="green" {{#if_eq color "green"}}checked{{else}}{{/if_eq}} >
					    Green
					  </label>
					  <label class="radio-inline color">
					    <input type="radio" name="color" id="black" value="black" {{#if_eq color "black"}}checked{{else}}{{/if_eq}} >
					    Black
					  </label>
					  <label class="radio-inline color">
					    <input type="radio" name="color" id="yellow" value="yellow" {{#if_eq color "yellow"}}checked{{else}}{{/if_eq}} >
					    Yellow
					  </label>
				  </div>
				  <div class="row">
				  	<div class="col-xs-4">
				  	  <p>Select Size</p>
					  <select class="form-control col-xs-4" name="size" id="size">
						  <option name="size" value="small" {{#if_eq size "small"}}selected{{else}}{{/if_eq}} >Small</option>
						  <option name="size" value="medium" {{#if_eq size "medium"}}selected{{else}}{{/if_eq}} >Medium</option>
						  <option name="size" value="large" {{#if_eq size "large"}}selected{{else}}{{/if_eq}} >Large</option>
					  </select>
					</div>
				  </div>
				  <div class="row">
				  	<div class="col-xs-4">
						<p>Select Quantity</p>
				  		<input type="number" class="form-control" placeholder="" value="{{quantity}}" id="quantity" name="quantity" min="1">
				  	</div>
				  </div>
				  <div class="row ">
				  	<div class="col-xs-12">
						<p></p>
				  		<button type="submit" class="btn btn-default next">Next</button>
				  	</div>
				  </div>
				</div>
			</div>
		</div>