<form>
			<div class="row shipping_container">
				<div class="col-xs-12">
					<h1>Shipping Address</h1>
					<div class="form-group col-xs-6 addressone">
						<span>Address<span>
				  		<input type="text" class="form-control" value="{{addressone}}" id="address_one" name="addressone" required>
				  		<span class="err-msg"></span>
				  	</div>
				  	<div class="form-group col-xs-6 city">
						<span>City<span>
				  		<input type="text" class="form-control" value="{{ city}}" id="city" name="city" required>
				  		<span class="err-msg"></span>
				  	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
				  	<div class="form-group col-xs-6">
						<span>Address<span>
				  		<input type="text" class="form-control" value="{{ addresstwo}}" id="address_two" name="addresstwo">
				  		<span class="err-msg"></span>
				  	</div>
				  	
				  	<div class="form-group col-xs-6 state">
						<span>State<span>
				  		<input type="text" class="form-control" value="{{ state}}" id="state" name="state" required>
				  		<span class="err-msg"></span>
				  	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
				  	<div class="form-group col-xs-6 zipcode">
						<span>Zipcode<span>
				  		<input type="number" class="form-control" value="{{ zipcode}}" id="zipcode" name="zipcode" required>
				  		<span class="err-msg"></span>
				  	</div>
				  	<div class="col-xs-12">
				  		<button type="submit" class="btn btn-primary finish">Finish</button>
				    </div>
				</div>
			</div>
		</form>